<div class="container">
    <div class="row">
        <div class="col-12">
            <form (ngSubmit)="onSubmit()" #form="ngForm">
                <input type="text" name="name" placeholder="name" ngModel id="name">
                <input type="number" name="phone_no" placeholder="phone number" ngModel id="phone_no">
                <button type="submit"  style="height: 100%;" class="btn btn-secondary">Add</button>
            </form>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;background-color: rgb(99, 190, 170);width: 50%;" *ngFor="let c of contacts; let i = index">
        <div class="col-9" >
            <div class="pull-left" >
                <h3 class="list-group-item-heading">{{c.name}}</h3>
                <h5 class="list-group-item-text">{{c.phone_no}}</h5>        
            </div>
        </div>
        <div class="col-1" >
            <button style="height: 100%;" class="btn btn-outline-warning btn-sm" (click)="editContact(c)"> Edit </button>
        </div>
        <div class="col-2" >
            <button style="height: 100%;" class="btn btn-outline-danger btn-sm" (click)="deleteContact(c)"> Delete </button>
        </div>
    </div>
</div>    